@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, p, input, button, textarea, article, aside, footer, header, nav, section, menu {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: 100%;
  font-style: normal;
  vertical-align: baseline; }

body, button, input, select, textarea {
  font-size: 14px;
  font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    min-width: 1206px;
    overflow-x: auto;
}
table {
  border-spacing: 0;
  vertical-align: middle;
  border-collapse: collapse; }

ul, li {
  list-style: none; }

img {
  border: 0 none;
  vertical-align: middle; }

input, textarea {
  outline: 0;
  resize: none; }
input:-webkit-autofill, textarea:-webkit-autofill {
    background-color: #fff;
    background-image: none; }

a {
  color: #333; 
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    outline: 0; }
.clearfix {
  	*zoom: 1; 
}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; 
}
.t-l{text-align: left;}
.t-c{text-align: center;}
.t_r{text-align: right;}
.f-l{float:left;}
.f-r{float: right;}
.ger-loading{
    line-height: 30px;
    text-align: center;
    padding: 100px 0;
    a{
        color:#0b84e4;
    }
}
.ger-noMore{
    bottom: 0 !important;
}
/*core*/
.ger-body{
    height: 100%;
    position: relative;
    .ger-middle{    
        position: absolute;
        top:61px;
        left: 0;
        bottom:0;
        width: 100%;
    }
    .ger-cotent{
        padding-left:120px;
        height: 100%;
    }
}

/*header*/
$headerBg : #fafafa;
$headerBr : #eee; 
$headerColor: #666;
.header{
    line-height: 60px;
    background: $headerBg;
    font-size: 20px;
    padding:0 30px;
    border-bottom:1px $headerBr solid;
    color:$headerColor;
    .f-r{
        font-size: 12px;
        a{
            float:left;
            margin-left:20px;
            color:$headerColor;
        }
    }
}
/*menu*/
$menuBg: #3d454d;
$menuActiveBg: #353b41;
$menuHoverBg: #353b41;
.ger-menu{
    position: absolute;
    width: 120px;
    height: 100%;
    background: $menuBg;
    line-height: 40px;
    box-sizing: border-box;
    padding: 20px 0;
    ul{
        li{
            
            a{
                display: block;
                padding-left:10px;
                color:#fff;
            }
            .active{
                background:$menuActiveBg;
            }
            a:hover{

                background:$menuHoverBg;
            }
        }
    }
}
/*public width*/
.width-10{
    width: 10%;
    float: left;
}
.width-18{
    width: 18%;
    float: left;
    text-indent: 10px;
}
.width-22{
    width: 20%;
    float: left;
    text-indent: 10px;
}
.width-40{
    width: 40%;
    float: left;
    text-indent: 10px;
}
.width-30{
    width: 30%;
    float: left;
    text-indent: 10px;
}
.width-15{
    width: 15%;
    float: left;
}
/*list*/
.ger-list{
    font-size: 12px;
    li{ 
        line-height:40px;
        height: 40px;
        border-bottom:1px #ddd solid;
        .list-over{
            max-width: 98%;
            height:40px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break:break-all;
        }
        a{
            color:#666;
        }
    }
    li:nth-child(2n){

         background:#f9f9f9;
    }
    li:hover{

        background:#ddd;
    }
    li:last-child{
        border: none;
    }
}
.ger-list-head{
    padding-right: 17px;
    font-size: 14px;
    font-weight: bold;
    line-height:40px;
    border-bottom: 1px #ddd solid;
}
/*list content*/
.ger-list-content{
    padding: 20px 0 0; 
    color:#666; 
    position: relative;
    height:100%;
    box-sizing: border-box;
    .ger-list-box{
        position: absolute;
        top:61px;
        bottom:50px;
        left:0;
        right:0;
        overflow-x: hidden;
        overflow-y: scroll; 
        z-index: 10;
    }
}
/*pagesbox*/
.ger-list-bottom{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    border-top:1px #ddd solid;
    height:50px;
    box-sizing: border-box;
    padding:10px;
    background:#fafafa;
    text-align: right;
    a{
        display: inline-block;
        padding: 0 10px;
        line-height: 30px;
        border:1px #ddd solid;
        border-radius: 4px;
        margin: 0 5px;
        background: #eee;
    }
    a:hover{
        color:#fff;
        background: #ee2f2f;
        border-color:#ee2f2f;
    }
    .active,.active:hover{
        border:none;
        background:none;
        color: #ee2f2f;
    }
    span{
        margin: 0 5px;
    }
}


/*报错列表页*/
.report-content{
    position: relative;
    height: 100%;
    color:#666;
    padding-top: 20px;
    box-sizing: border-box;
    .report-charbox{
        margin:0 10px;
        border:1px #ddd solid;
        min-height: 120px;
    }
    .report-info{
        margin: 5px 10px;
        padding: 5px;
        background:#ced1d5;
        line-height: 30px;
        color: #000;
        div span{
            float: left;
            margin:0 20px;
            min-width: 150px;
        }
    }
    .report-doway{
        padding: 10px;
        line-height: 30px;
        color:#666;
        select{
            float: left;
            width: 60px;
            padding: 5px;
            font-size: 12px;
            border: 1px solid #ddd;
            height: 30px;
            border-radius: 4px;
            line-height: 28px;
            margin-right:20px;
        }
        .type-select{
            width: 100px;
        }
        span{
            float:left;
        }
        a{
            float: left;
            margin-right:20px;
            padding:0 10px;
            border:1px #ddd solid;
            background: #eee;
            line-height: 28px;
            border-radius: 4px;
        }
        input{
            float: left;
            width: 160px;
            border-radius: 4px;
            border:1px #ddd solid;
            line-height: 28px;
            height:30px;
            box-sizing: border-box;
        }
        a:last-child{
            margin-left:20px;
        }
    }
    .ger-list-box{
        position: absolute;
        top: 312px;
        left: 0;
        width: 100%;
        bottom: 50px;
        overflow-y: scroll;
    }
}
/*reportDetail*/
.report-detail-box{
    height: 100%;
    overflow-y: auto;
    padding:20px 10px;
    box-sizing: border-box;
    h1{
        font-size: 16px;
        line-height: 30px;
        padding-left: 20px;
        border-bottom: 1px #ddd solid;
    }
    .report-detail-list{
        margin-top:20px;
        border-top:1px #ddd solid;
        li{
            border: 1px #ddd solid;
            border-top:none;
            div{
                float: left;
                width: 180px;
                line-height: 40px;
                color: #666;
                padding-left: 10px;
                word-break:break-all; 
                word-wrap:break-word;
            }
            div:nth-child(2){
                float: none;
                display: block;
                padding-left:180px;
                width: auto;
                width: 100%;
                box-sizing: border-box;
                span{
                    display: block;
                    border-left:1px #ddd solid;
                    padding:0 10px;
                    box-sizing: border-box;
                    width: 100%;
                }
            }
        }
    }
}
.report-loading{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    z-index: 100;
    div{
        position: absolute;
        left: 50%;
        top: 50%;
        background: #eee;
        padding: 10px 30px;
        line-height: 30px;
        color:#333;
        border-radius: 4px;
        -webkit-transform: translate(-50%, -60%);
        -moz-transform: translate(-50%, -60%);
        -o-transform: translate(-50%, -60%);
        -ms-transform: translate(-50%, -60%);
        transform: translate(-50%, -60%);
    }
}